

@{
    ViewData["Title"] = "Ana Sayfa";
    
}


@await Component.InvokeAsync("DashboardBalance")


<div class="row">
   

    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">

            <div class="card-body d-flex justify-content-center">
                <form method="get" id="filter" >
                    <h3 class="d-flex justify-content-center">Gelir Tarihi Seçiniz</h3>
                    <p class="d-flex justify-content-center">Seçtiğiniz aya ait gelir bilgisini gösterir</p>
                    <div class="d-flex justify-content-center">
                        <input class="form-control-sm" type="date" min="@DateTime.Now.Date.ToShortDateString()" id="datePicker" name="filterIncomeDate"  required />
                       
                        <button onclick="onclick_1()" type="submit">Verileri Getir</button>
                    </div>

                </form>
            </div>
            
            <div id="IncomeComponent" class="d-flex justify-content-center">
                @await Component.InvokeAsync("DashboardMonthlyIncomeChart", new { filterIncomeDate = @ViewBag.dateForIncomeChart })
            </div>
        </div>



    </div>

   <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">

            <div class="card-body d-flex justify-content-center">
                <form method="get" id="filter">
                    <h3 class="d-flex justify-content-center">Gider Tarihi Seçiniz</h3>
                    <p class="d-flex justify-content-center">Seçtiğiniz aya ait gider bilgisini gösterir</p>
                    <div class="d-flex justify-content-center">
                        <input class="form-control-sm" type="date" min="@DateTime.Now.Date.ToShortDateString()" id="datePicker" name="filterExpenseDate" required />

                        <button onclick="onclick_1()" type="submit">Verileri Getir</button>
                    </div>

                </form>
            </div>

            <div id="ExpenseComponent" class="d-flex justify-content-center">
                @await Component.InvokeAsync("DashboardMonthlyExpenseChart", new { filterIncomeDate = @ViewBag.dateForExpenseChart })
            </div>
        </div>



    </div> 


</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    
    jQuery(document).ready(function ($) {
        $("filter").submit(function () {
            $(this).find(":input").filter(function () { return !this.value; }).attr("disabled", "disabled");
            return true;
        });
        $("form").find(":input").prop("disabled", false);
    });

</script>

