@model List<ResultActivityDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">


            <a class="nav-link btn btn-success create-new-button" href="/Activity/Create/">+ Yeni Servis Ekle</a>
            <hr>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Servis Adı</th>
                            
                            <th>Sil</th>
                            <th>Güncelle</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var activity in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@activity.Name</td>
                                
                               

                                <td>
                                    <a onclick="deleteItem(event)" class="btn btn-outline-danger btn-group-lg" href="/Activity/Delete/@activity.Id">
                                        <i class="mdi mdi-close"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-warning btn-group-lg" href="/Activity/Update/@activity.Id">
                                        <i class="mdi mdi-database"></i>
                                    </a>
                                </td>

                            </tr>
                        }




                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function deleteItem(e) {
        if (!confirm(`Silmek istediğinize emin misiniz?`)) e.preventDefault();
    }
</script>

