
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MyWallet</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/corona/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/corona/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/corona/assets/css/style.css">
    <link rel="stylesheet" crossorigin="anonymous" href="~/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/css/fullcalendarv5.min.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/corona/assets/images/favicon.png" />
    
</head>